# T81-558: Applications of Deep Neural Networks
**Module 2: Python for Machine Learning**
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), McKelvey School of Engineering, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

# Module 2 Material

Main video lecture:

* Part 2.1: Introduction to Pandas [[Video]](https://www.youtube.com/watch?v=bN4UuCBdpZc&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_1_python_pandas.ipynb)
* Part 2.2: Categorical Values [[Video]](https://www.youtube.com/watch?v=4a1odDpG0Ho&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_2_pandas_cat.ipynb)
* Part 2.3: Grouping, Sorting, and Shuffling in Python Pandas [[Video]](https://www.youtube.com/watch?v=YS4wm5gD8DM&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_3_pandas_grouping.ipynb)
* Part 2.4: Using Apply and Map in Pandas for Keras [[Video]](https://www.youtube.com/watch?v=XNCEZ4WaPBY&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_4_pandas_functional.ipynb)
* **Part 2.5: Feature Engineering in Pandas for Deep Learning in Keras** [[Video]](https://www.youtube.com/watch?v=BWPTj4_Mi9E&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_5_pandas_features.ipynb)

# Part 2.5: Feature Engineering

Feature engineering is a very important part of machine learning.  Later in this course we will see some techniques for automatic feature engineering.

## Calculated Fields

It is possible to add new fields to the dataframe that are calculated from the other fields.  We can create a new column that gives the weight in kilograms.  The equation to calculate a metric weight, given a weight in pounds is:

$ m_{(kg)} = m_{(lb)} \times 0.45359237 $

This can be used with the following Python code:

In [1]:
import os
import pandas as pd

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

df.insert(1, 'weight_kg', (df['weight'] * 0.45359237).astype(int))
df

,mpg,weight_kg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,1589,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,1675,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,1558,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,1557,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,1564,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,1969,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,1974,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,1955,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,2007,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,1746,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,15.0,1616,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,1637,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,1705,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,14.0,1399,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,1075,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,22.0,1285,6,198.0,95.0,2833,15.5,70,1,plymouth duster
16,18.0,1258,6,199.0,97.0,2774,15.5,70,1,amc hornet
17,21.0,1173,6,200.0,85.0,2587,16.0,70,1,ford maverick
18,27.0,966,4,97.0,88.0,2130,14.5,70,3,datsun pl510
19,26.0,832,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,1211,4,110.0,87.0,2672,17.5,70,2,peugeot 504
21,24.0,1102,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
22,25.0,1077,4,104.0,95.0,2375,17.5,70,2,saab 99e
23,26.0,1013,4,121.0,113.0,2234,12.5,70,2,bmw 2002
24,21.0,1201,6,199.0,90.0,2648,15.0,70,1,amc gremlin
25,10.0,2093,8,360.0,215.0,4615,14.0,70,1,ford f250
26,10.0,1984,8,307.0,200.0,4376,15.0,70,1,chevy c20
27,11.0,1987,8,318.0,210.0,4382,13.5,70,1,dodge d200
28,9.0,2146,8,304.0,193.0,4732,18.5,70,1,hi 1200d
29,27.0,966,4,97.0,88.0,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...,...
368,27.0,1197,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,1086,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,1168,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,1145,4,135.0,84.0,2525,16.0,82,1,dodge aries se
372,27.0,1240,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
373,24.0,1299,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura
374,23.0,1376,4,151.0,NaN,3035,20.5,82,1,amc concord dl
375,36.0,898,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
376,37.0,918,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
377,31.0,893,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
378,38.0,963,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
379,36.0,963,4,98.0,70.0,2125,17.3,82,1,mercury lynx l
380,36.0,979,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
381,36.0,1000,4,107.0,75.0,2205,14.5,82,3,honda accord
382,34.0,1018,4,108.0,70.0,2245,16.9,82,3,toyota corolla
383,38.0,891,4,91.0,67.0,1965,15.0,82,3,honda civic
384,32.0,891,4,91.0,67.0,1965,15.7,82,3,honda civic (auto)
385,38.0,904,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
386,25.0,1335,6,181.0,110.0,2945,16.4,82,1,buick century limited
387,38.0,1367,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,1172,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,1285,6,232.0,112.0,2835,14.7,82,1,ford granada l
390,32.0,1208,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
391,36.0,1075,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
392,27.0,1338,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
393,27.0,1265,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,966,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,1040,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,1190,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,1233,4,119.0,82.0,2720,19.4,82,1,chevy s-10

## Google API Keys

Sometimes you will use external API's to obtain data.  The following examples show how to use the Google API keys to encode addresses for use with neural networks.  To use these, you will need your own Google API key.  The key I have below is not a real key, you need to put your own in there.  Google will ask for a credit card, but unless you use a very large number of lookups, there will be no actual cost.  YOU ARE NOT required to get an Google API key for this class, this only shows you how.  If you would like to get a Google API key, visit this site and obtain one for **geocode**.

[Google API Keys](https://developers.google.com/maps/documentation/embed/get-api-key)

In [2]:
GOOGLE_KEY = 'Your Google API Key'

# Other Examples: Dealing with Addresses

Addresses can be difficult to encode into a neural network.  There are many different approaches, and you must consider how you can transform the address into something more meaningful.  Map coordinates can be a good approach.  [Latitude and longitude](https://en.wikipedia.org/wiki/Geographic_coordinate_system) can be a useful encoding.  Thanks to the power of the Internet, it is relatively easy to transform an address into its latitude and longitude values.  The following code determines the coordinates of [Washington University](https://wustl.edu/):

In [3]:
import requests

address = "1 Brookings Dr, St. Louis, MO 63130"

response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(GOOGLE_KEY,address))

resp_json_payload = response.json()

if 'error_message' in resp_json_payload:
    print(resp_json_payload['error_message'])
else:
    print(resp_json_payload['results'][0]['geometry']['location'])

{'lat': 38.648238, 'lng': -90.30487459999999}

If latitude and longitude are simply fed into the neural network as two features, they might not be overly helpful.  These two values would allow your neural network to cluster locations on a map.  Sometimes cluster locations on a map can be useful.  Consider the percentage of the population that smokes in the USA by state:

![Smokers by State](https://raw.githubusercontent.com/jeffheaton/t81_558_deep_learning/master/images/class_6_smokers.png "Smokers by State")

The above map shows that certain behaviors, like smoking, can be clustered by global region. 

However, often you will want to transform the coordinates into distances.  It is reasonably easy to estimate the distance between any two points on Earth by using the [great circle distance](https://en.wikipedia.org/wiki/Great-circle_distance) between any two points on a sphere:

The following code implements this formula:

$\Delta\sigma=\arccos\bigl(\sin\phi_1\cdot\sin\phi_2+\cos\phi_1\cdot\cos\phi_2\cdot\cos(\Delta\lambda)\bigr)$

$d = r \, \Delta\sigma$

In [4]:
from math import sin, cos, sqrt, atan2, radians

# Distance function
def distance_lat_lng(lat1,lng1,lat2,lng2):
    # approximate radius of earth in km
    R = 6373.0

    # degrees to radians (lat/lon are in degrees)
    lat1 = radians(lat1)
    lng1 = radians(lng1)
    lat2 = radians(lat2)
    lng2 = radians(lng2)

    dlng = lng2 - lng1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlng / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

# Find lat lon for address
def lookup_lat_lng(address):
    response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(GOOGLE_KEY,address))
    json = response.json()
    if len(json['results']) == 0:
        print("Can't find: {}".format(address))
        return 0,0
    map = json['results'][0]['geometry']['location']
    return map['lat'],map['lng']


# Distance between two locations

import requests

address1 = "1 Brookings Dr, St. Louis, MO 63130" 
address2 = "3301 College Ave, Fort Lauderdale, FL 33314"

lat1, lng1 = lookup_lat_lng(address1)
lat2, lng2 = lookup_lat_lng(address2)

print("Distance, St. Louis, MO to Ft. Lauderdale, FL: {} km".format(
        distance_lat_lng(lat1,lng1,lat2,lng2)))

Distance, St. Louis, MO to Ft. Lauderdale, FL: 1685.304481666787 km

Distances can be useful to encode addresses as.  You must consider what distance might be useful for your dataset.  Consider:

* Distance to major metropolitan area
* Distance to competitor
* Distance to distribution center
* Distance to retail outlet

The following code calculates the distance between 10 universities and washu:

In [5]:
# Encoding other universities by their distance to Washington University

schools = [
    ["Princeton University, Princeton, NJ 08544", 'Princeton'],
    ["Massachusetts Hall, Cambridge, MA 02138", 'Harvard'],
    ["5801 S Ellis Ave, Chicago, IL 60637", 'University of Chicago'],
    ["Yale, New Haven, CT 06520", 'Yale'],
    ["116th St & Broadway, New York, NY 10027", 'Columbia University'],
    ["450 Serra Mall, Stanford, CA 94305", 'Stanford'],
    ["77 Massachusetts Ave, Cambridge, MA 02139", 'MIT'],
    ["Duke University, Durham, NC 27708", 'Duke University'],
    ["University of Pennsylvania, Philadelphia, PA 19104", 'University of Pennsylvania'],
    ["Johns Hopkins University, Baltimore, MD 21218", 'Johns Hopkins']
]

lat1, lng1 = lookup_lat_lng("1 Brookings Dr, St. Louis, MO 63130")

for address, name in schools:
    lat2,lng2 = lookup_lat_lng(address)
    dist = distance_lat_lng(lat1,lng1,lat2,lng2)
    print("School '{}', distance to wustl is: {}".format(name,dist))

School 'Princeton', distance to wustl is: 1354.4748428037537
School 'Harvard', distance to wustl is: 1670.6348910867227
School 'University of Chicago', distance to wustl is: 418.07123096093096
School 'Yale', distance to wustl is: 1508.209168740192
School 'Columbia University', distance to wustl is: 1418.2512902029155
School 'Stanford', distance to wustl is: 2780.6884662205066
School 'MIT', distance to wustl is: 1672.4354422735219
School 'Duke University', distance to wustl is: 1046.7924543575177
School 'University of Pennsylvania', distance to wustl is: 1307.1873732319766
School 'Johns Hopkins', distance to wustl is: 1184.3754484499111